rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /csv-files/{fileName} {
      allow read, write: if true;
    }
  }
}
